PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/crm360
JWT_SECRET=supersecretchangeinproduction129381923
JWT_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=my_smtp_username
SMTP_PASS=my_smtp_password
FROM_EMAIL=noreply@crm360.com
AWS_ACCESS_KEY_ID=aws_access_key
AWS_SECRET_ACCESS_KEY=aws_secret_key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=crm360-assets-bucket
